*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Dosis', sans-serif;
}
h1{
  font-size: 3em;
}


h2{
  font-size: 2em;
}

h3{
  font-size: 1.5em;
}


/* 
================
Hero Section
================
*/

.hero{
  background: linear-gradient(to bottom right, #2196F3, #009688);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  
} 