*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Dosis', sans-serif;
}
h1{
  font-size: 3em;
}


h2{
  font-size: 2em;
}

h3{
  font-size: 1.5em;
}


/* 
================
Hero Section
================
*/

.hero{
  background: linear-gradient(to bottom right, #2196F3, #009688);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  
} 


.menu{
  width: 100%;
  background-color: yellow;
  height: 50px;
}

.menu ul{
  text-align: center;
}


.menu ul li{
  list-style: none;
  display: inline;
}


.menu ul li a{
  text-decoration: none;
  display: inline-block;
  line-height: 50px;
  padding: 0px 15px 0px 10px ;
}