*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

/* Color Variables */
:root {
    --white: #fff;
    --black: #222;
    --green: #6cbe02;
    --grey1: #f0f0f0;
    --grey2: #e9d7d3;
}

/* html {
    box-sizing: border-box;
    font-size: 62.5%;
} */

body{
  font-family: 'Dosis', sans-serif;
}
h1{
  font-size: 3em;
}


h2{
  font-size: 2em;
}

h3{
  font-size: 1.5em;
}

/* 
================
Hero Section
================
*/

.hero{
  background: linear-gradient(to bottom right, #2196F3, #009688);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
} 

.menu{
  width: 100%;
  background-color: yellow;
  height: 50px;
}

.menu ul{
  text-align: center;
}

.menu ul li{
  list-style: none;
  display: inline;
}

.menu ul li a{
  text-decoration: none;
  display: inline-block;
  line-height: 50px;
  padding: 0px 15px 0px 10px ;
}

/* 
================
Service  Section
================
*/

.services{
  width:  100% ;
  background-color: hsl(0, 0%, 95%);
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center; 
}

.col-wrapper{
  width: 90%;
  margin: auto;
  padding-top: 50px;
}

.services-col{
  width: 33.33%;
  float: left;
  padding: 10px 30px 10px 30px;
}

.services-col img{
  width: 120px;
  height: 100px;
  max-width: 100%;
  margin-bottom: 20px;
}

.col-wrapper::after{
  clear: both;
  display: table;
  content:"";
}

/* 
================
About Us   Section
================
*/

.aboutUs{
  padding-top: 100px ;
  padding-bottom: 100px;
  text-align: center;
  background-image: url("/img/workspace-1280538_1280.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.aboutus_content{
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  font-size: 1.1em;
}

.about-btn{
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 15px 10px 15px;
  margin-top: 30px;
  border: none;
  outline: 1px solid yellow;
  color: #fff;
  cursor: pointer;
}

/* 
================
Team  Section
================
*/

.team {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: hsl(0, 0%, 95%);
  width: 100%;
  text-align: center;
}

.team-wrapper{
  width: 90%;
  padding-top: 50px;
  margin: auto;
}

.col-team{
  width: 30%;
  height: 200px;
  float: left;
  margin-left: 40px;
  padding: 10px 30px 10px 30px;
  box-shadow: 10px 10px 5px lightblue;
}

.col-team img{
  width: 100px;
  max-width: 100%;
  padding-bottom: 5px;
}

.tcol{
  max-width: 200px;
  max-height: 170px;
  border: 1px solid rgba(0, 0, 0, 0.3);
 box-shadow: 10px 10px 5px lightblue;
  padding: 10px;
}

.team-wrapper::after{
  clear: both;
  content: "";
  display: table;
}

/* 
================
Contract  Section
================
*/

.contract{
  width: 100%;
  background-color: yellow;
  padding: 20px 50px ;
}
.contract_cls{
  display: flex; 
}

.contract_item{
  display: flex;
  width: 33%;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.contract_item img {
  width: 40px;
  height: 40px;
}

.contract_item p {
  padding-left: 15px;
}

.contactinfo{
  width: 100%;
  padding: 30px 5px 30px 5px;
  text-align: center;
}

.contactinfo::after{
  content: "";
  display: table;
  clear: both;
}

.contactInfo-col1{
  width: 50%;
  float: left;
  padding: 50px 20px 20px 60px;
}

.contactInfo-col2{
  width: 50%;
  float: left;
  padding: 50px 20px 20px 60px;
  padding-right: 10%;
}

.contactInfo-col1 h3{
  font-size: 42px;
}

.contact_left{
  padding-top: 70px;
  align-items: center;
  width: 90%;
  margin: auto;
}

.contact_email{
  display: inline-flex;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 18px;
}

.contact_email i {
  font-size: 30px;
}

.contact_phone{
  display: inline-flex;
  padding-left: 10px;
  padding-bottom: 15px;
  font-size: 18px;
}

.contact_phone i { 
   font-size: 25px;
}

.social_links{
  display: inline-flex;
  color: #fff;  
  font-size: 18px;
}

.social_links div {
  padding: 15px;
  margin-left: 5px;
}

.facebook{
  background-color: #3a589b;
}

.google{
  background-color: #d6492f;
}

.twitter{
  background-color: #32ccfe;
}

.linkedIn{
  background-color: #007bb6;
}

/* 
================
Form Style
================
*/

.form-col{
  float: left;
  width: 48%;
  margin-right: 2%;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 30px;
}

.fname, .femail{
  width: 100%;
  height: 30px;
  margin-top: 10px;
  padding: 0px 5px 0px 5px;
  background-color: #abd4e098;
  border: none;
  outline: none;
  border-radius: 20px;
}

.msg{
  width: 100%;
  height: 250px;
  border: 1px solid gray;
  border-radius: 30px;
  margin-top: 10px;
}

.sendbtn{
  background-color: yellow;
  border: none;
  outline: 1px solid black;
  padding: 10px 30px 10px 30px;
  margin-top: 15px;
  cursor: pointer;
}

/* Footer */
.footer {
    padding: 7rem 1rem;
    background-color: #303441;
}

footer .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 99.6rem;
    margin: 0 auto;
}

.footer .col {
    flex-direction: column;
    color: var(--white);
    align-items: flex-start;
}

.footer .col:last-child {
    flex-direction: row;
    justify-content: center;
}

.footer .col:last-child span {
    font-size: 2.5rem;
    margin-right: 0.5rem;
    color: var(--white);
}

.footer .col a {
    color: var(--white);
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: 300;
    font-size: 20px ;
    display: block;
    text-decoration: none;
}

.footer .col h4 {
    margin-bottom: 1rem;
}